# Node.js dependencies
node_modules/

# Build output
build/
dist/
dist-ssr/

# Environment variables
.env                # Ignore .env file containing sensitive information

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vercel deployment files
.vercel/

# Editor directories and files
.vscode/            # Ignore VSCode workspace settings
!.vscode/extensions.json  # Keep VSCode extensions list
.idea/              # Ignore JetBrains IDE files
.DS_Store           # macOS specific
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
Thumbs.db           # Windows thumbs.db files
Desktop.ini         # Windows desktop.ini files
.vercel
